.input {
  height: 50px;
  background-color: white;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    &::placeholder {
      color: gray;
    }
  }
  .send {
    display: flex;
    align-items: center;
    gap: 4px;
    color: gray;
    cursor: pointer;
    button {
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      color: white;
      background-color: #2c2c42;
    }

    .image {
      margin-right: 6px;
      margin-top: 4px;
    }
  }
}
