@import "../../style/style.scss";
.chats {
  .userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    @include mobile {
      flex-direction: column;
    }
    &:hover {
      background: #2c2c42;
      color: white;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .userChatInfo {
      span {
        font-size: 18px;
        font-weight: 400;
      }
      span {
        text-transform: capitalize;
      }
      p {
        font-size: 14px;
        @include mobile {
          display: none;
        }
      }
    }
  }
}
