.formContainer {
  background: linear-gradient(180deg, #111132, #2c2c42);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;

    .left {
      flex-basis: 50%;
      background: linear-gradient(#270b6080, #270b6080),
        url("https://images.pexels.com/photos/3184435/pexels-photo-3184435.jpeg?auto=compress&cs=tinysrgb&w=800")
          center;
      background-size: cover;
      padding: 50px 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;

      h1 {
        font-size: 68px;
        line-height: 68px;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
      }

      span {
        font-size: 14px;
        margin-bottom: 10px;
      }

      button {
        width: 100px;
        padding: 10px;
        border: none;
        background-color: white;
        color: #41416a;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        color: #111132;
        font-weight: bold;
        font-size: 24px;
      }
      form {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-top: 20px;
        input {
          padding: 10px;
          border: none;
          width: 90%;
          border-bottom: 1px solid #9090a0;
          margin-top: 10px;
        }
        &::placeholder {
          color: #afafaf;
        }

        button {
          background-color: #41416a;
          padding: 10px;
          font-weight: bold;
          color: white;
          border: none;
          cursor: pointer;
          width: 100px;
          margin-top: 20px;
        }
        label {
          display: flex;
          align-items: center;
          margin-top: 20px;
          gap: 10px;
          img {
            width: 32px;
          }
        }
      }
    }
  }
}
